nav {
    display:flex
}

#logo {
    height: 150px;
}

.navlist {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navlist a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, ul{
    font-size: 1.5em;
    font-family: 'Print Clearly';
    font-weight: 580;
}

strong {
    font-weight: 580;
}

h1 {
    text-align: center;
}

h1, h2 {
    font-family: 'Saudagar', sans-serif;
}

main {
    width: 70%;
    margin:auto;
}